@import "./padding.scss";

footer {
	grid-area: footer;
	background-color: #333;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: $padding-lg;
	align-items: center;
	border-top: 1px solid rgba(black, 0.8);
}